CalculatorWithService/Service References/CalculatorService/Calculator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Calculator/Calculator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BasicWCFService" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BasicWCFService" minOccurs="0" name="numbers" nillable="true" type="q1:CalculatorInputs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BasicWCFService" minOccurs="0" name="AddResult" nillable="true" type="q2:ResultAcknowledgement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subtract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BasicWCFService" minOccurs="0" name="numbers" nillable="true" type="q3:CalculatorInputs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubtractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BasicWCFService" minOccurs="0" name="SubtractResult" nillable="true" type="q4:ResultAcknowledgement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BasicWCFService" minOccurs="0" name="numbers" nillable="true" type="q5:CalculatorInputs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BasicWCFService" minOccurs="0" name="MultiplyResult" nillable="true" type="q6:ResultAcknowledgement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Division">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BasicWCFService" minOccurs="0" name="numbers" nillable="true" type="q7:CalculatorInputs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BasicWCFService" minOccurs="0" name="DivisionResult" nillable="true" type="q8:ResultAcknowledgement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>