CalculatorWithService/Service References/CalculatorService/Calculator1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CalculatorInputs">
    <xs:sequence>
      <xs:element minOccurs="0" name="a" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="b" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculatorInputs" nillable="true" type="tns:CalculatorInputs" />
  <xs:complexType name="ResultAcknowledgement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResultValue" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultAcknowledgement" nillable="true" type="tns:ResultAcknowledgement" />
</xs:schema>